:root {
  /* COLORS */
  --primary-color: #0800ff;
  --background-color: #f5f5f5;
  --text-color: #333333;

  /* FONTS */
  --main-font: Arial, sans-serif;
  --title-size: 32px;
  --text-size: 16px;
  --small-size: 14px;

  /* SPACING */
  --spacing-sm: 10px;
  --spacing-md: 40px;
  --spacing-lg: 40px;

  /* BORDER */
  --border-radius: 10px;

  /* SHADOW */
  --box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  /* TRANSITION */
  --transition: 0.3s ease;
}
*{
  margin: 0;
  padding: 0;
}
.top-bar{
  display: flex;
  justify-content: space-between;
  padding: 10px 120px 10px 120px;
  background-color: var(--primary-color);
}
.top-bar a{
  text-decoration: none;
  color: white;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: var(--main-font);
  background-color: var(--background-color);
  color: var(--text-color);
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 150px;
}
nav h2 {
  font-size: var(--title-size);
  color: var(--primary-color);
  color: var(--primary-color);
}
nav ul {
  list-style: none;
  display: flex;
  gap: var(--spacing-md);
}
nav ul li {
}
nav a {
  color: var(--text-color);
  text-decoration: none;
  font-size: var(--text-size);
  margin-left: var(--spacing-md);
}
